/* Special styles for React Simple Chatbot */

.elorQq {
    z-index: 0 !important;
}

.rsc {
    padding: 15px !important;
    border-radius: 10px 10px 10px 10px !important;
}

.fnYTcU {
    font-size: 20px !important;
}

.iGJBiv {
    z-index: 0 !important;
}

.kiEUjp {
    overflow-y: none !important;
}